<h4 class="card-title center-align">BIENVENIDOS AL SISTEMA MIS CACHORRITOS</h4><br>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="/imagenes/LOGO1.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            ¡TENEMOS LO MEJOR PARA EL CUIDADO DE TU MASCOTA!
            CLINICA VETERINARIA : Consulta. Cirugia, Laboratorio Clinico.
            Vacunacion, Tratamientos alternativos, Imagenologia,Sala de Belleza, Pet Shop,Servicio a domicilio, Guarderia,Certificados.
            SERVICIO 24 H.
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>