<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Mis Cachorritos</a>
    
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/acerca">Acerca</a></li>
      <li><a routerLink="/administracion/crear-producto">Productos</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li><a routerLink="/administracion/crear-usuario">Registrarse</a></li>
      <li><a routerLink="/seguridad/cambiarClave">Cambiar Clave</a></li>
      <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
    </ul>
    
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/inicio">Inicio</a></li>
  <li><a routerLink="/acerca">Acerca</a></li>
  <li><a routerLink="/administracion/crear-producto">Productos</a></li>
  <li><a routerLink="/contacto">Contacto</a></li>
  <li><a routerLink="/administracion/crear-usuario">Registrarse</a></li>
  <li><a routerLink="/seguridad/cambiarClave">Cambiar Clave</a></li>
  <li><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
</ul>


