<!DOCTYPE html>
    <html>

        <head>
            <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <base href="/" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link href="./acerca.component.css" rel="stylesheet" />

        </head>

        <body>
            <h1>ACERCA</h1>
            <div class="row">
                <div class="col s4">
                    <h2>Quienes somos</h2> 
                    <p>Somos una clinica veterinaria  que inicia labores  brindando servicio a domicilio en un principio,
                        para constituirse posteriormente en un consultorio y despues en una clínica veterinaria desde el año 2004,
                        en donde se ofrecen servicios integrales para mascotas,  abierto al público.
                        Destacando en las áreas de medicina general y preventiva, medicina de urgencias, consultas de especialistas,
                        cirugía y anestesiología, lo que nos convierte en un centro de referencia.<br><br></p>
                    
                </div>
                <div class="col s4">
                    <h2>Mision</h2>
                    <p>Proporcionar servicios de diagnóstico y tratamiento médico quirúrgicos, de alta calidad, calidez y ética profesional, 
                        con el propósito de proporcionar bienestar animal a un costo justo.</p>
                </div>
                <div class="col s4">
                    <h2>Vision</h2>     
                    <p>Ser un Hospital Veterinario que provea de manera integral los mejores servicios de calidad y profesionalismo basados en
                    la constante actualización de su personal, aprovechando los avances tecnológicos para el trato digno de las mascotas.</p>
                </div>
           
                
            </div>  
            
        </body>
            
    </html>
