
h1{
    font-size: 40px;
    color: rgb(235, 72, 104);
    text-align: center;
    padding: 30px 0;
    letter-spacing: 1px;
}

p{
    color: black;
    font-family: Lato,sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    
}





