<footer class="page-footer" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Veterinaria Mis Cachorritos</h5>
        <p class="grey-text text-lighten-4"> 
          PIDE TU CITA<br>
          Av. 3 #17-19, La Playa<br>
          Cel: 313-3539876<br>
          Cucuta-Norte de Santander, Colombia
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/miscachorritos.caobos">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.google.com/maps/search/mis+cachorritos/@7.8814893,-72.5019705,16z/data=!3m1!4b1?hl=es">Como llegar</a></li>
          <li><a class="grey-text text-lighten-3" href="http://localhost:4200/contacto">Contacto</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright<br>
    Desarrollado por: Juan Manuel Espinel Ochoa,<br>
    Grupo 15-MINTIC2022-Universidad de Caldas
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>